/* Defining scroll behavior on document */
html {
    scroll-behavior: smooth;
}

/* Defining styles for body element */
body {
    font-family: 'Heebo', sans-serif;
    background-image: url("../images/what-the-hex.png");
}

/* Portfolio-content div */
#portfolio-content {
margin-top: 50px;
}

/* Defining styles for header */
header {
    background-color: #888888cc;
    border-bottom: #731c9e inset 2px;
    padding-top: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.my-details {
    animation-name: appear;
    animation-duration: 3s;
}

#my_picture {
    margin: 10px;
    border-radius: 50%;
    animation-name: appear;
    animation-duration: 3s;
}

/* Defining styles for all headings */
h1 {
    font-family: 'Varela Round', sans-serif;
    color: #731c9e;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    color: #731c9e;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    color: #731c9e;
    text-align: center;
    line-height: 150%;
    font-weight: bold;
}

.h4 {
    color: #5c5757;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav a {
    font-family: 'Varela Round', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

/* Defining common styles for About Me, Skills, Portfolio and Contact sections */
#about-me, #my-portfolio, #contact-me, #my-skills {
    background-color: #ffffff80;
    border-color: #731c9e;
    border-top-style: outset;
    border-bottom-style: inset;
    border-width: 5px;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
    min-height: fit-content;
}

#about-me h1, #my-skills h1, #my-skills h2, #my-portfolio h1, #contact-me h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    border-bottom: 3px solid #c9a8db;
}

#contact-me i, #my-skills i {
    color: #5c5757;
}

a, span {
    color: #731c9e;
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Just Another Hand', cursive;
}

/* Customizing the About Me section */
p {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    color: #5c5757;
}

#about-me a {
    font-family: 'Heebo', sans-serif;
}

.first {
    margin-top: 20px;
}

.last {
    margin-bottom: 20px;
}

/* Customizing the Skills section */
#my-skills {
    background-color: #e8bcef66;
}

/* Customizing the Portfolio section */
#my-portfolio {
    background-color: #88888866;
}

.project-box {
    background-color: white;
    margin: 10px;
    border: white 2px;
}
   
.image_portfolio {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
   
.image_portfolio:hover {
    transform: scale(1.2);
   border: white solid 10px;
}
   
.picture_name {
    position: relative;
    width: 100%;
    background-color: white;
    align-content: center;
    padding-bottom: 10px;
}
   
.picture_name h2 {
    font-family: 'Just Another Hand', cursive;
    line-height: 150%;
    border-top: 4px;
    border-color: #731c9e;
    border-style: outset;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Customizing the Contact section */
#contact-me { 
    margin-bottom: 150px;
}

#contact-me span {
    font-size: xx-large;
}

/* Footer */
footer {
    clear: both;
    display: block;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #c9a8db;
    border-top: #731c9e solid 5px;
    text-align: center;
} 

footer span {
    font-size: medium;
}