body {
    font-family: 'Heebo', sans-serif;
    background-image: url("../images/what-the-hex.png");
}

header {
    background-color: #888;
    border-bottom: #20c997 inset 2px;
}

h1 {
    font-family: 'Just Another Hand', cursive;
    color: #F3969A;
    text-align: center;
}

h2 {
    font-family: 'Just Another Hand', cursive;
    color: #F3969A;
    text-align: center;
}

h3 {
    font-family: 'Just Another Hand', cursive;
    color: #F3969A;
    text-align: center;
    line-height: 150%;
}

/* .navbar-brand, .nav-item {
    color: #20c997;
} */

.nav-pills {
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
    font-family: 'Modak', cursive;
    margin-bottom: 50px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}


#my_picture {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}

#about-me, #my-portfolio, #contact-me {
    background-color: white;
    border-color: #20c997;
    border-top-style: outset;
    border-bottom-style: inset;
    border-width: 5px;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;

}

#contact-me { 
    margin-bottom: 150px;
}

p {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
}

.first {
    margin-top: 20px;
}

.last {
    margin-bottom: 20px;
}

a, span {
    font-family: 'Just Another Hand', cursive;
    color: #20c997;
    line-height: 150%;
}

.project-box {
 background: #D3D3D3;
 opacity: 80%;
 margin: 10px;
}

.image_portfolio {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image_portfolio:hover {
    transform: scale(1.2);
}

.picture_name {
    position: relative;
    color: #888;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
    align-content: center;
    font-size: large;
    font-weight: bold;
}

footer {
    clear: both;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    display: block;
    background-color: #F3969A;
    border-top: #20c997 solid 5px;
    line-height: 10px;
    text-align: center;
} 